.react-datepicker {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 0.8rem;
    background-color: #2c2e3d;
    color: #dc404d;
    border: 1px solid #aeaeae;
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
    margin-top: 0;
    color: #dc404d;
    font-weight: bold;
    font-size: 0.944rem;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    color: #dc404d;
    display: inline-block;
    width: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    margin: 0.166rem;
}

.react-datepicker__header {
    text-align: center;
    background-color: #393c50;
    border-bottom: 1px solid #aeaeae;
    border-top-left-radius: 0.3rem;
    padding: 8px 0;
    position: relative;
}

.header {
    font-family: Inter, sans-serif;
    align-items: center;
    align-content: center;
    text-align: center;
    color: #dc404d;
}

.Preference {
    font-family: Inter, sans-serif;
    align-items: center;
    align-content: center;
    color: #dc404d;
}

.saveWrapper {
    position: relative;
    padding: 14px 40px;
}

.infoPicker{
    margin-top: 3%;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.workoutSave, .saveWorkoutButton2, .react-datepicker-ignore-onclickoutside {
    margin-top: 1%;
    position: relative;
    top: 50%;
    padding: 14px 40px;
    background-color: #2c2e3d;
    border: 2px transparent #000000;
    border-radius: 8px;
    box-sizing: border-box;
    color: #dc404d;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    text-align: center;
}

.saveWorkoutButton, .completeWorkoutButton {
    margin-top: 1%;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 50%);
    padding: 14px 40px;
    background-color: #2c2e3d;
    border: 2px transparent #000000;
    border-radius: 8px;
    box-sizing: border-box;
    color: #dc404d;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    text-align: center;
}

.rerollEveryExercise {
    margin-top: 4%;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 50%);
    padding: 14px 40px;
    background-color: #2c2e3d;
    border: 2px transparent #0000;
    border-radius: 8px;
    box-sizing: border-box;
    color: #dc404d;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    text-align: center;
}

PickDate {
    background-color: #2c2e3d;
    border: 2px transparent #0000;
    color: #dc404d;
}

.saveWorkoutButton:active {
    background-color: #1b1c25;
    outline: 0;
}

.saveWorkoutButton:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .saveWorkoutButton, .completeWorkoutButton, .rerollEveryExercise {
    padding: 0 40px;
    }
}