#GoBack{
    position: absolute;
    bottom: 5%;
    left: 20%;
    font-size: 18px;
    font-family: Verdana, sans-serif
}

#GoForward{
    position: absolute;
    bottom: 5%;
    right: 20%;
    font-size: 18px;
    font-family: Verdana, sans-serif
}

.btn-link {
    margin: 0;
    position: relative;
    top:90%;
    left: 90%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 50%);
    padding: 14px 40px;
    font-size: 25px;
  }
  
