#Swole{
    margin: 0;
    position: absolute;            
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 50%);

}

button{
    display:block;
    padding: 25px;
    width: 200px;
}

.button-group{
    margin: 0;
    position: absolute;
    top:50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 50%);
}