body{
    background-color:#D3D3D3;
    font-family: Verdana, sans-serif
}

#Swole{
    margin: 0;
    position: absolute;            
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 50%);

}

.Sign-in_Button {
    align-items: center;
    background-color: #fee6e3;
    border: 2px transparent #000000;
    border-radius: 8px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.Sign-in_Button:hover:after {
    transform: translate(0, 0);
}

.Sign-in_Button:active {
    background-color: #ffdeda;
    outline: 0;
}

.Sign-in_Button:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .Sign-in_Button {
    padding: 0 40px;
    }
}

.button-group{
    margin: 0;
    position: absolute;
    top:50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 50%);
}
