.sign_in {
    width: 90%;
    margin: auto;
    min-width: 500px;
    display: flexbox;
    flex-direction: column;
    -ms-flex-align: start;
}

.Swole_photo {
    -ms-flex-order: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
}

.button-group {
    display: flex;
    visibility: visible;
    -ms-flex-order: 2;
    width: 100%;
    height: 48px;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.Sign-in_Button {
    background-color: #2c2e3d;
    border: 2px transparent #000000;
    border-radius: 8px;
    color: #dc404d;
    cursor: pointer;
    font-family: Inter,sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    padding: 10px 25px;
    text-align: center;
    width: 215px;
}

.Sign-in_Button:hover {
    outline: 0;
    background-color: #fba499;
}

@media (max-width: 750px) {

    .Sign-in_Button {
        width: 500px;
    }
    
    .Swole_photo {
        -ms-flex-order: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
    }

    .login_button {
        display: flex;
        visibility: visible;
        -ms-flex-order: 2;
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .register_button {
        display: flex;
        visibility: visible;
        -ms-flex-order: 3;
        width: 90%;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }

    .guest_button {
        display: flex;
        visibility: visible;
        -ms-flex-order: 4;
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}