p, label {
    font-size: 24px;
    font-family: Verdana, sans-serif;
    color: #dc404d;
}

.Safety_Terms, .Liability_Terms {
    text-align: center;
    color: #dc404d;
}

.checkbox-wrapper:hover .check {
    stroke-dashoffset: 0;
}

.checkbox-wrapper {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
}
.checkbox-wrapper .background {
    fill: #ccc;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}
.checkbox-wrapper .stroke {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}
.checkbox-wrapper .check {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}
.checkbox-wrapper input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    -appearance: none;
}
.checkbox-wrapper input[type=checkbox]:hover {
    cursor: pointer;
}
.checkbox-wrapper input[type=checkbox]:checked + svg .background {
    fill: #6cbe45;
}
.checkbox-wrapper input[type=checkbox]:checked + svg .stroke {
    stroke-dashoffset: 0;
}
.checkbox-wrapper input[type=checkbox]:checked + svg .check {
    stroke-dashoffset: 0;
}

.Terms_Submit{
    background-color: #2c2e3d;
    margin: 0;
    position: relative;
    top:50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 50%);
    padding: 14px 40px;
    font-size: 25px;
    color: #dc404d;
}